.containerServicos{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
}

/* RESPONSIVIDADE */
@media screen and (width < calc(1200px + 8rem)) {
    .containerServicos{
        width: 100%;
    }
}

@media screen and (width < 800px) {
    .containerServicos{
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: inline mandatory;
    }
}