.mapa{
    align-items: center;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,.6);
    background-image: url('./mapa.png');
    background-position: center;
    background-size: cover;
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 6rem;
    transition: .5s;
}

    .mapa:hover{
        background-color: rgba(0,0,0,.4);
    }

    .mapa__containerTitulo, .mapa__endereco{
        align-items: center;
        display: flex;
    }

    .mapa__containerTitulo{
        gap: 1rem;
    }
    
    .mapa__endereco{
        justify-content: center;
        gap: .5rem;
    }

        .mapa__endereco p{
            font-size: 1.25rem;
            font-weight: 500;
        }

/* RESPONDIVIDADE */
@media screen and (width < 750px) {
    .mapa{
        padding-block: 2.5rem;
    }
    
    .mapa__endereco{
        flex-direction: column;
    }
}

@media screen and (width < 500px) {
    .mapa__icone{
        height: 2rem;
        width: auto;
    }

    .mapa__endereco p{
        font-size: 1rem;
        text-align: center;
    }

    .mapa__endereco :nth-child(even){
        display: none;
    }
}