/* Estilos globais da aplicação */

/* TIPOGRAFIA */

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);

body, body *{
    --fonte-titulo: 'Abril Fatface', sans-serif;
    
    font-family: 'Inter', sans-serif;
}

/* CORES */

:root{
    /* Globais */
    --cor-branco: hsl(0, 0%, 100%);
    --cor-cinza: hsl(0, 0%, 60%);
    --cor-preto: hsl(0, 0%, 0%);

    --cor-roxo: hsl(250, 50%, 30%);
    --cor-roxo--5: hsl(250, 50%, 5%);

    --cor-verde: hsl(150, 50%, 40%);
    --cor-verde-hover: hsl(150, 50%, 60%);

    /* Componentes */
    --cor-fundo--roxo: hsl(250, 60%, 95%);
    --cor-fundo--verde: hsl(150, 60%, 95%);
}