.linkInstagram{
    align-items: center;
    aspect-ratio: 1;
    background-blend-mode: multiply;
    background-image: url('./instagram.png');
    background-position: center;
    background-size: cover;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    transition: .5s;
    width: 100%;
}

    .linkInstagram:hover{
        background-color: rgba(0, 0, 0, .5);
    }

    .link__icone{
        opacity: 0;
        height: auto;
        transition: .5s;
        width: 5rem;
    }

        .linkInstagram:hover .link__icone{
            opacity: 1;
        }

@media screen and (width < 800px) {
    .linkInstagram{
        display: none;
    }
}