.containerLinkRedes{
    border-radius: .5rem;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    overflow: hidden;
}

/* RESPONSIVIDADE */
@media screen and (width < 800px) {
    .containerLinkRedes{
        border-radius: 0;
        display: flex;
        gap: .5rem;
        width: 100%;
    }
}