.linkRede{
    display: block;
    padding-block: 1.25rem;
    padding-inline: 4rem;
}    

    .linkRede.instagram{
        background-color: black;
        display: none;
    }

    .linkRede.whatsapp{
        background-color: var(--cor-verde);
    }

    .linkRede.email{
        background-color: var(--cor-roxo);
    }

        .rede__icone{
            height: 2rem;
            width: auto;
        }

/* RESPONSIVIDADE */
@media screen and (width < 800px) {
    .linkRede{
        padding: 1.5rem;
    }

    .linkRede.instagram{
        display: block;
    }

        .rede__icone{
            height: 1.5rem;
        }
}